# deps
node_modules
.pnpm-store

# build
.next
dist
build
out

# env
.env
.env.local
.env.*.local
*.env

# vercel
.vercel

# editor
.vscode
.idea
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test
coverage
.nyc_output
